/*
    Style
    Monochrome Black/White with a feature colour main background,
    The feature colour will be reflected in the nav menu highlights.

*/

/*
    Environmental variables
*/
:root {
    --banner_footer: #3d3931;
    --navbar_colour: #d3bc8d;
    --background_colour: #f4f4f4;
    --highlight_colour: #a8aefa;
    --stock_height: 50px;
}

/*
    Grid layout
*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#wrapper {
    min-width: 500px;
    min-height: 500px;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template:
        "banner" var(--stock_height)
        "navbar" var(--stock_height)
        "mainwindow" 1fr
        "footer" var(--stock_height)
        / 1fr;
}

#banner {
    grid-area: banner;
    background-color: var(--banner_footer);
}

#navbar {
    grid-area: navbar;
    background-color: var(--navbar_colour);
}

#mainwindow {
    grid-area: mainwindow;
    background-color: var(--background_colour);
    padding: 0 50px 0 50px;
}
#content {
  margin: auto;
  padding: 0 5px 0 5px;
  max-width: 800px;
  min-width: 350px;
}

#footer {
    grid-area: footer;
    background-color: var(--banner_footer);
}

/*
    Button style
*/
button {
  background-color: var(--navbar_colour);
  border: 1px solid var(--banner_footer);
  transition: 0.6s;
  text-align: center;
}

#navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button:hover {
    background-color: var(--highlight_colour);
    transition: 0.6s;
}
